<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The ultimate travel app to explore and plan travel with your friends!
    </p>
  </body>
</html>
