<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="center jumbotron container-fluid">
      <h1>Travel the Road Less Traveled</h1>
      <h2>
        Be an inspiration for yourself & the others around you
      </h2>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

    <h3 class="footer-text"> Hope you'll enjoy the journey! </h3>
    <%#= image_tag("kitten.jpg", alt: "Kitten") %>
  </body>
</html>
